<h2>Category list</h2>
<a
  routerLink="/addfoodcategory"
  class="btn btn-success"
      >
        Add +
      </a>
<button type="button"
  class="btn btn-import"
      >
        import food catagory
    </button>
      <button type="button"
      class="btn btn-export"
 
  class="btn btn-success"
      >
      Export food catagory
  </button>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8"
>

  <!-- Name Column -->
  <ng-container matColumnDef="name">

    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    >
      Name
    </th>

    <td
      mat-cell
      *matCellDef="let row"
    >
      {{ row.categoryName }}
    </td>

  </ng-container>


  <!-- Description Column -->
  <ng-container matColumnDef="description">

    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    >
      Description
    </th>

    <td
      mat-cell
      *matCellDef="let row"
    >
      {{ row.description }}
    </td>

  </ng-container>


  <!-- Actions Column -->
  <ng-container matColumnDef="actions">

    <th
      mat-header-cell
      *matHeaderCellDef
    >
      Actions
    </th>

    <td
      mat-cell
      *matCellDef="let row"
    >

      <button>
        Edit
      </button>

      <button>
        Delete
      </button>

    </td>

  </ng-container>


  <!-- Header Row -->
  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  ></tr>


  <!-- Data Row -->
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
  ></tr>

</table>


<mat-paginator
  [pageSizeOptions]="[10, 25, 50]"
  showFirstLastButtons
>
</mat-paginator>