<div class="page-header">

  <h3 class="page-title">
    Food Menu List
  </h3>

  <nav aria-label="breadcrumb">

    <ol class="breadcrumb">

      <li class="breadcrumb-item">
        <a routerLink="/dashboard">
          Dashboard
        </a>
      </li>

      <li
        class="breadcrumb-item active"
        aria-current="page"
      >
        Food Menu
      </li>

    </ol>

  </nav>

</div>


<!-- ========================= -->
<!-- ACTION BUTTONS -->
<!-- ========================= -->

<div class="category-actions">

  <a
    routerLink="/addfoodmenu"
    class="btn btn-success"
  >
    Add +
  </a>

  <button
    type="button"
    class="btn btn-import"
  >
    Import Food Menu
  </button>

  <button
    type="button"
    class="btn btn-export"
  >
    Export Food Menu
  </button>

</div>


<!-- ========================= -->
<!-- FOOD MENU TABLE -->
<!-- ========================= -->

<div class="card">

  <div class="card-body">

    <h4 class="card-title">
      Food Menu
    </h4>


    <div class="table-responsive">

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 w-100"
      >


        <!-- FOOD NAME -->

        <ng-container matColumnDef="foodName">

          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Food Name
          </th>

          <td
            mat-cell
            *matCellDef="let row"
          >
            {{ row.foodName }}
          </td>

        </ng-container>



        <!-- FOOD CATEGORY -->

        <ng-container matColumnDef="foodCategory">

          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Food Category
          </th>

          <td
            mat-cell
            *matCellDef="let row"
          >
            {{ row.foodCategory }}
          </td>

        </ng-container>



        <!-- SALES PRICE -->

        <ng-container matColumnDef="salesPrice">

          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Sales Price
          </th>

          <td
            mat-cell
            *matCellDef="let row"
          >
            {{ row.salesPrice }}
          </td>

        </ng-container>



        <!-- VAT -->

        <ng-container matColumnDef="vat">

          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            VAT
          </th>

          <td
            mat-cell
            *matCellDef="let row"
          >
            {{ row.vat }}
          </td>

        </ng-container>



        <!-- PHOTO -->

        <ng-container matColumnDef="photo">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Photo
          </th>

          <td
            mat-cell
            *matCellDef="let row"
          >

            @if (row.photo) {

              <img
                [src]="row.photo"
                alt="Food"
                class="food-image"
              >

            } @else {

              <span>
                No Image
              </span>

            }

          </td>

        </ng-container>



        <!-- ACTION -->

        <ng-container matColumnDef="action">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Action
          </th>

          <td
            mat-cell
            *matCellDef="let row"
          >

            <button
              type="button"
              class="btn btn-sm btn-primary me-2"
            >
              Edit
            </button>

            <button
              type="button"
              class="btn btn-sm btn-danger"
            >
              Delete
            </button>

          </td>

        </ng-container>



        <!-- HEADER -->

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>



        <!-- DATA -->

        <tr
          mat-row
          *matRowDef="
            let row;
            columns: displayedColumns;
          "
        ></tr>


      </table>

    </div>


    <!-- ========================= -->
    <!-- PAGINATOR -->
    <!-- ========================= -->

    <mat-paginator
      [pageSizeOptions]="[10, 25, 50]"
      showFirstLastButtons
    >
    </mat-paginator>

  </div>

</div>