<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">

    <h2>Food Menu List</h2>

    <a
      routerLink="/addfoodmenu"
      class="btn btn-success"
    >
      Add Food +
    </a>

  </div>


  <div class="table-responsive">

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8 w-100"
    >

      <!-- Food Name -->
      <ng-container matColumnDef="foodmenuName">

        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Food Name
        </th>

        <td
          mat-cell
          *matCellDef="let foodmenu"
        >
          {{ foodmenu.foodmenuName }}
        </td>

      </ng-container>


      <!-- Category -->
      <ng-container matColumnDef="catagoryId">

        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Category
        </th>

        <td
          mat-cell
          *matCellDef="let foodmenu"
        >
          {{ foodmenu.catagoryId }}
        </td>

      </ng-container>


      <!-- Sales Price -->
      <ng-container matColumnDef="salesPrice">

        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Sales Price
        </th>

        <td
          mat-cell
          *matCellDef="let foodmenu"
        >
          {{ foodmenu.salesPrice }}
        </td>

      </ng-container>


      <!-- VAT -->
      <ng-container matColumnDef="vatId">

        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          VAT
        </th>

        <td
          mat-cell
          *matCellDef="let foodmenu"
        >
          {{ foodmenu.vatId }}
        </td>

      </ng-container>


      <!-- Photo -->
      <ng-container matColumnDef="photo">

        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Photo
        </th>

        <td
          mat-cell
          *matCellDef="let foodmenu"
        >

          <img
            *ngIf="foodmenu.photo"
            [src]="foodmenu.photo"
            alt="Food"
            width="60"
            height="60"
            style="object-fit: cover;"
          >

          <span *ngIf="!foodmenu.photo">
            No Photo
          </span>

        </td>

      </ng-container>


      <!-- Action -->
      <ng-container matColumnDef="action">

        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Action
        </th>

        <td
          mat-cell
          *matCellDef="let foodmenu"
        >

          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="deleteFoodmenu(foodmenu.id)"
          >
            Delete
          </button>

        </td>

      </ng-container>


      <!-- Header -->
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>


      <!-- Rows -->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>

    </table>

  </div>


  <!-- Paginator -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25]"
    showFirstLastButtons
  >
  </mat-paginator>

</div>
